# Java
*.class
out
/bin/

# Package Files - except for lib folder#
*.jar
!/lib/*.jar
*.war
*.ear

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
